<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	
        <!-- JDBC properties -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://remotemysql.com:3306/ugTSd9ogRl</property>
        <property name="connection.username">ugTSd9ogRl</property>
        <property name="connection.password">1zsgTSrDSg</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		
        <!-- Echo the SQL to console -->
        <property name="show_sql">true</property>
        
        <!-- Mapeo de la clase -->
        
        <mapping class="com.krma.karmaapp.models.User"/>
        <mapping class="com.krma.karmaapp.models.Post"/>
        <mapping class="com.krma.karmaapp.models.Comment"/>
        <mapping class="com.krma.karmaapp.models.users_posts"/>
        <mapping class="com.krma.karmaapp.models.users_follows"/>

        
    </session-factory>
        
    
</hibernate-configuration>
